[Desktop Entry]
Type=Application
Exec=/usr/bin/google-chrome
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Browser
Name=Browser
Comment[en_US]=
Comment=
